<article class="movie-listing inline">
  <a href="/movies/{{url}}">
    <div class="movie-listing-image">
      <img class="photo" src="{{photo}}" alt="" width="300" height="420" border-radius="25px" class="movie-listing-image"/>
    </div>
  </a>
    <p class="movie-desc">
        {{desc}}
    </p>
    {{#if favorite}}
      <button class="fav-button"><i class="fas fa-star"></i></button>
    {{else}}
      <button class="fav-button"><i class="far fa-star"></i></button>
    {{/if}}
    <p class="hidden movie-URL">{{url}}</p>
</article>
